<!DOCTYPE html>
<html lang="en">

<style>
.box {
    height: 500px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border: 3px solid black;
}

body {
    background-color: #AC5AFE;
    background-size: cover;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>LOL games</title>
</head>
<body>
    <div>
        <h2 style="text-align: center;color: orange; font-family: Arial"> Cadastro!</h2>
    </div>

    <div class="box">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>

        </form>

    </div>

</body>
</html>