<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title></titl></title>
</head>

<style>
    body {
    background-color: #AC5AFE;
    background-size: cover;
}
    .button {
            display: inline-block;
            margin: 5px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer;
        }

</style>
<body>
     <div>
        <h2 style="text-align: center;color: orange; font-family: Arial"> Usuário deletado</h2>
    </div>

    <a href="/exemplo" class="button">Voltar</a>
</body>
</html>