<!DOCTYPE html>
<html lang="en">

<style>
.box {
    height: 500px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border: 3px solid black;
}
.button {
            display: inline-block;
            margin: 5px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            cursor: pointer;
        }
body {
    background-color: #AC5AFE;
    background-size: cover;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>LOL games</title>
</head>
<body>

    <div>
        <h2 style="text-align: center;color: orange; font-family: Arial"> Seja Bem-vindo!</h2>
    </div>

    <div class="box">
        <h2 style="text-align: center;color: orange; font-family: Arial"> Tenha acesso aos nossos jogos!</h2>
        <br>
        <a href="/cadastro" class="button">Cadastrar!</a>
        <a href="/login" class="button">Login</a>

    </div>



</body>
</html>